.experience__container {
  grid-template-columns: repeat(2, 270px);
  justify-content: center;
  column-gap: 1.8rem;
}



  /*===== BREAKPOINTS =====*/

  /* For larger Devices */
  @media screen and (max-width: 992px) {
  }

  /* For medium devices */ 
  @media screen and (max-width: 768px) {
  }

  /* For small devices */
  @media screen and (max-width: 350px) {}